<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Admin - Ads Placement</title>

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/assets/media/favicons/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/media/favicons/favicon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/media/favicons/apple-touch-icon-180x180.png"
    />
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- OneUI framework -->
    <link rel="stylesheet" id="css-main" href="/assets/css/oneui.min.css" />
  </head>

  <body>
    <!-- Page Container -->

    <div
      id="page-container"
      class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow"
    >
      <%- include("./partials/Sidebar.ejs") %>
      <!-- END Sidebar -->

      <!-- Header -->
      <%- include("./partials/Header.ejs") %>

      <!-- END Header -->

      <!-- Main Container -->
      <main id="main-container">
        <!-- Hero -->
        <div class="bg-body-light">
          <div class="content content-full">
            <div
              class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2"
            >
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-1">Ads-Placement</h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  Manage Ads placement
                </h2>
              </div>
              <nav
                class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb breadcrumb-alt">
                  <li class="breadcrumb-item">
                    <a href="/admin" class="link-fx"> Dashboard </a>
                  </li>
                  <li class="breadcrumb-item">Ads-Placement</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
          <div class="row">
            <div class="col-12">
              <div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title">Ads-Placement</h3>
                </div>
                <div class="block-content">
                  <form action="/admin/ads-placement" method="post">
                    <div class="mb-4">
                      <label class="form-label">Head AdCodes </label>
                      <textarea
                        type="text"
                        class="form-control"
                        rows="4"
                        name="head"
                      >
<%= ads ? ads.head : null %></textarea
                      >
                    </div>

                    <div class="mb-4">
                      <label class="form-label">iframe Top AdCodes </label>
                      <textarea
                        type="text"
                        class="form-control"
                        rows="4"
                        name="top"
                      >
<%= ads ? ads.top : null %></textarea
                      >
                    </div>

                    <div class="mb-4">
                      <label class="form-label">iframe Bottom AdCodes </label>
                      <textarea
                        type="text"
                        class="form-control"
                        rows="4"
                        name="bottom"
                      >
<%= ads ? ads.bottom : null %></textarea
                      >
                    </div>
                    <div class="mb-4">
                      <button class="btn btn-alt-primary">Set Placement</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container -->

      <!-- Footer -->
      <%- include("./partials/Footer.ejs") %>
      <!-- END Footer -->
    </div>
    <!-- END Page Container -->

    <!--
        OneUI JS

        Core libraries and functionality
        webpack is putting everything together at /assets/_js/main/app.js
    -->

    <script src="/assets/js/oneui.app.min.js"></script>
  </body>
</html>
