<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Admin - Dashboard</title>

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/assets/media/favicons/favicon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/media/favicons/favicon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/media/favicons/apple-touch-icon-180x180.png"
    />
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- OneUI framework -->
    <link rel="stylesheet" id="css-main" href="/assets/css/oneui.min.css" />
    <link
      rel="stylesheet"
      href="/assets/js/plugins/flatpickr/flatpickr.min.css"
    />
  </head>

  <body>
    <!-- Page Container -->

    <div
      id="page-container"
      class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow"
    >
      <%- include("./partials/Sidebar.ejs") %>
      <!-- END Sidebar -->

      <!-- Header -->
      <%- include("./partials/Header.ejs") %>

      <!-- END Header -->

      <!-- Main Container -->
      <main id="main-container">
        <!-- Hero -->
        <div class="bg-body-light">
          <div class="content content-full">
            <div
              class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2"
            >
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-1">Dashboard</h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  Welcome Back <%= userInfo.username %>!
                </h2>
              </div>
              <nav
                class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3"
                aria-label="breadcrumb"
              >
                <ol class="breadcrumb breadcrumb-alt">
                  <li class="breadcrumb-item">Dashboard</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">
          <div class="row">
            <% if(messages.success){ %>

            <div class="col-12">
              <div
                class="alert alert-success d-flex align-items-center"
                role="alert"
              >
                <div class="flex-shrink-0">
                  <i class="fa fa-fw fa-check"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0"><%= messages.success %></p>
                </div>
              </div>
            </div>

            <% } %>

            <div class="col-12">
              <button
                type="button"
                class="btn btn-alt-primary push"
                data-bs-toggle="modal"
                data-bs-target="#new-schedule-modal"
              >
                Create New Schedule
              </button>
            </div>
          </div>

          <div class="row mt-3">
            <% if(schedules.length){ %> <% schedules.forEach((schedule)=>{ %>
            <div class="col-md-4">
              <div class="block block-rounded">
                <div class="block-header">
                  <div
                    class="form-check form-switch form-check-inline statusChange"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="<%= schedule.hidden == false ? true : false %>"
                      data-id="<%= schedule._id %>"
                      <%= schedule.hidden == false ? 'checked' : null %>
                    />
                  </div>

                  <div class="block-options">
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn-block-option"
                        data-bs-toggle="dropdown"
                      >
                        <i class="fa fa-ellipsis-vertical"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end fs-sm">
                        <a
                          class="dropdown-item"
                          href="#"
                          data-bs-toggle="modal"
                          data-bs-target="#edit-schedule-modal"
                          onclick="getSchedule('<%= schedule._id %>')"
                        >
                          <i class="fa fa-fw fa-i-cursor me-1"></i> Edit
                        </a>
                        <a
                          class="dropdown-item"
                          href="/admin/delete-schedule/<%= schedule._id %>"
                        >
                          <i class="fa fa-fw fa-circle-xmark me-1"></i> Delete
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block-content text-center">
                  <h2 class="mb-4">
                    <%= moment(schedule.date).format('MMM D, YYYY') %>
                  </h2>

                  <a
                    href="/admin/schedule/<%= schedule._id %>"
                    class="btn btn-alt-primary w-100 mb-3"
                  >
                    Manage Schedule
                  </a>
                </div>
              </div>
            </div>
            <% }) %> <% }else{ %>

            <div class="col-12">
              <div
                class="alert alert-danger d-flex align-items-center justify-content-between"
                role="alert"
              >
                <div class="flex-shrink-0">
                  <i class="fa fa-fw fa-times-circle"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0">Schedule Not Available</p>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <!-- END Page Content -->
      </main>
      <!-- END Main Container -->

      <!-- Footer -->
      <%- include("./partials/Footer.ejs") %>
      <!-- END Footer -->
    </div>
    <!-- END Page Container -->

    <!--
        OneUI JS

        Core libraries and functionality
        webpack is putting everything together at /assets/_js/main/app.js
    -->

    <div class="modal" id="new-schedule-modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="block block-rounded block-transparent mb-0">
            <div class="block-header block-header-default">
              <h3 class="block-title">Create New Schedule</h3>
              <div class="block-options">
                <button
                  type="button"
                  class="btn-block-option"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fa fa-fw fa-times"></i>
                </button>
              </div>
            </div>
            <form action="/admin/new-schedule" method="post">
              <div class="block-content">
                <div class="mb-4">
                  <label class="form-label">Schedule Date</label>
                  <input
                    type="text"
                    class="form-control"
                    id="schedule"
                    placeholder="d-m-Y"
                    readonly="readonly"
                    name="date"
                    required
                  />
                </div>
              </div>
              <div
                class="block-content block-content-full text-end bg-body rounded"
              >
                <button
                  type="button"
                  class="btn btn-sm btn-alt-secondary me-1"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-sm btn-primary">
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="edit-schedule-modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="block block-rounded block-transparent mb-0">
            <div class="block-header block-header-default">
              <h3 class="block-title">Edit Schedule</h3>
              <div class="block-options">
                <button
                  type="button"
                  class="btn-block-option"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fa fa-fw fa-times"></i>
                </button>
              </div>
            </div>
            <form action="" method="post" id="editForm">
              <div class="block-content">
                <div class="mb-4">
                  <label class="form-label">Schedule Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="date"
                    placeholder="d-m-Y"
                    required
                    id="edit-schedule"
                  />
                </div>
              </div>
              <div class="block-content block-content-full text-end bg-body">
                <button
                  type="button"
                  class="btn btn-sm btn-alt-secondary me-1"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-sm btn-primary rounded">
                  Edit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/js/oneui.app.min.js"></script>
    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="/assets/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script>
      $("#schedule, #edit-schedule").flatpickr({
        enableTime: false,
        dateFormat: "d-m-Y",
      });

      function getSchedule(scheduleId) {
        document
          .getElementById("editForm")
          .setAttribute("action", `/admin/edit-schedule/${scheduleId}`);
      }

      $(".statusChange").on("click", function () {
        const id = $(this).find("input").data("id");

        const inputField = $(this).find("input");
        let statusToSet = inputField.val();

        $.ajax({
          url: `/admin/change-schedule-status/${id}`,
          method: "POST",
          data: { status: statusToSet },
          dataType: "json",
          success() {
            // Toggle the status
            statusToSet = statusToSet === "true" ? "false" : "true";

            inputField.val(statusToSet);
          },
        });
      });
    </script>
  </body>
</html>
